body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

p {
    font-size: 18px;
}

.section-one, 
.footer {
    font-size: 18px;
    background-color: #426b48;
    color: #e5e7eb;
}

.section-two,
.section-four {
    background-color: white;
}

.section-three {
    background-color: #e5ebe5;
}

/* section one formatting */
a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

li img{
    width: 20px;
    height: auto;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 18px 50px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    flex-wrap: wrap;
    font-size: 18px;
}  

h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

/* section two formatting */
.section-two-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.info {
    margin: 18px 0;
    max-width: 220px;
}

.section-two {
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(57, 177, 83, 0.3);
}

/* section three formatting */
.section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 90px;
}

h4 {
    padding: 0;
    margin: -8px 20px 0 0;
    align-self: flex-end;
}

/* section four formatting */

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 70px;
    color: #f9faf8;
}

.card {
    background-color: #3882F6;
    padding: 15px 80px;
    display: flex;
    align-items: center;
    gap: 100px;
}

/* section five formatting */

.footer {
    text-align: center;
    padding: 12px 0;
}
