body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.section-one, 
.footer {
    color: white;
    background-color: #426b48;
}

.section-two,
.section-four {
    background-color: white;
}

.section-three {
    background-color: #e5ebe5;
}

/* section one formatting */
a {
    color: white;
    text-decoration: none;
}

li img{
    width: 20px;
    height: auto;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 18px 50px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}  

/* section two formatting */
.section-two-content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info {
    margin: 18px 0;
    max-width: 200px;
}

.section-two {
    text-align: center;
}

/* section three formatting */
.section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 90px;
}

h4 {
    padding: 0;
    margin: -8px 20px 0 0;
    align-self: flex-end;
}

/* section four formatting */

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 70px;
}

.card {
    background-color: #6dcf7c;
    padding: 15px 80px;
    display: flex;
    align-items: center;
    gap: 100px;
}
